<%=render 'errors_on_submit' %>

<%= form_for(@car) do |f| %>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Edit Hyundai Kona</h1>
          <p class="mb-3">Make your edits here.</p>
          <form class="text-left">

            <div class="form-group">
              <%=f.label :make %><br>
              <%=f.text_field :make, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :model %><br>
              <%=f.text_field :model, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :transmission %><br>
              <%=f.text_field :transmission, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :year %><br>
              <%=f.text_field :year, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :cylinders %><br>
              <%=f.number_field :cylinders, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :mpg %><br>
              <%=f.text_field :mpg, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :price %><br>
              <%=f.text_field :price, class:"form-control" %>
            </div>

            <div class="form-group">
              <%=f.label :image %><br>
              <%=f.text_field :image, class:"form-control" %>
            </div>

            <%= f.submit class:"btn btn-primary"%>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>